<div class="container-custom" data-aos="fade-right">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mb-4">Experiencia</h3>
      <ul class="timeline">
        <li>
          <h5 class="float-right">Mayo 2022 – Agosto 2022</h5>
          <h4 class="mt-2">
            dvinternet - <span>Desarrollador Fullstack</span>
          </h4>
          <p>
            Desarrollo de un sistema con PHP para agestión de clientes con el
            objetivo de optimizar los procesos internos de la empresa.
          </p>
          <p>
            Desarrollo de la página web oficial de La empresa utilizando HTML,
            CSS y PHP, mejorando significativamente la presencia digital y
            contribuyendo al aumento en la captación de clientes.
          </p>
        </li>
        <li>
          <h5 class="float-right">Enero 2025 – Abril 2025</h5>
          <h4 class="mt-2">
            DTI Consultores - <span>Desarrollador Fullstack</span>
          </h4>
          <p>
            Desarrollo completo de un sistema de reservas para hoteles, con
            autenticación, gestión de habitaciones y disponibilidad, usando
            Angular para el frontend y Laravel como backend REST API.
          </p>
          <p>
            Creación de una app móvil para usuarios fitness, que permite el
            seguimiento de rutinas, planes de alimentación y progreso físico. La
            app se desarrolló con Ionic y un backend robusto con Laravel.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
