<div class="container-custom">
  <h2 class="mb-5 text-center">Habilidades</h2>
  <div class="row g-4">
    <!-- Frontend -->
    <div class="col-md-6" data-aos="fade-right">
      <div class="card shadow h-100 bg-purple">
        <div class="card-body text-center">
          <h3 class="card-title mb-3">Frontend</h3>
          <img
            src="https://skillicons.dev/icons?i=css,angular,html,bootstrap,flutter,tailwind,ts,js&perline=3"
            alt="Frontend skills"
            width="200"
          />
        </div>
      </div>
    </div>

    <!-- Backend -->
    <div class="col-md-6" data-aos="fade-left">
      <div class="card shadow h-100 bg-purple">
        <div class="card-body text-center">
          <h3 class="card-title">Backend</h3>
          <img
            src="https://skillicons.dev/icons?i=php,cs,java,nodejs,laravel,dotnet&perline=3"
            alt="Backend skills"
            width="200"
          />
        </div>
      </div>
    </div>

    <!-- Bases de datos -->
    <div class="col-md-6" data-aos="fade-right">
      <div class="card shadow h-100 bg-purple">
        <div class="card-body text-center">
          <h3 class="card-title">Bases de Datos</h3>
          <img
            src="https://skillicons.dev/icons?i=postgres,firebase,mongodb,mysql&perline=3"
            alt="Database skills"
            width="200"
          />
        </div>
      </div>
    </div>

    <!-- Herramientas -->
    <div class="col-md-6" data-aos="fade-left">
      <div class="card shadow h-100 bg-purple">
        <div class="card-body text-center">
          <h3 class="card-title">Herramientas</h3>
          <img
            src="https://skillicons.dev/icons?i=git,discord,figma,github,postman,unity,npm,vscode&perline=3"
            alt="Tooling skills"
            width="200"
          />
        </div>
      </div>
    </div>
  </div>
</div>
