<!-- 🌌 Fondo estrellado detrás de todo -->
<div class="star-background"></div>

<!-- 🧭 Navegación y contenido principal -->
<main>
  <app-navbar></app-navbar>
  <section id="portada"><app-portada id="home"></app-portada></section>
  <section id="about" class="section-separator">
    <app-about id="about"></app-about>
  </section>
  <section id="experiencia" class="section-separator">
    <app-experiencia></app-experiencia>
  </section>
  <section id="skills" class="section-separator">
    <app-skills></app-skills>
  </section>
  <section id="projects" class="section-separator">
    <app-projects id="projects"></app-projects>
  </section>
  <section id="formacion" class="section-separator">
    <app-formacion></app-formacion>
  </section>
  <section class="section-separator"><app-footer></app-footer></section>
</main>
