<div class="container-custom">
  <div class="row align-items-center">
    <!-- Imagen a la izquierda -->
    <div class="col-md-6 mb-4 mb-md-0 text-center" data-aos="zoom-in-down">
      <img
        src="assets/img/ajolote.png"
        alt="Mi Foto"
        class="img-fluid rounded shadow"
      />
    </div>

    <!-- Contenido a la derecha -->
    <div class="col-md-6 content-right" data-aos="zoom-in-down">
      <h2>Sobre mí</h2>
      <h4>
        Apasionado por el
        <span class="text-morado">Desarrollo de Software</span> y el aprendizaje
        constante.
      </h4>
      <p>
        Soy desarrollador de software enfocado en crear soluciones digitales
        modernas, funcionales y orientadas a la experiencia del usuario. Me
        gusta transformar ideas en productos útiles y bien diseñados. He
        trabajado en sitios web, aplicaciones móviles y sistemas de gestión.
        Disfruto aprender por cuenta propia, trabajar en equipo y aportar
        siempre lo mejor de mí en cada proyecto.
      </p>
    </div>
  </div>
</div>
