<div class="container-custom">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mb-4" data-aos="fade-right">Formación</h3>
      <ul class="timeline">
        <li>
          <h5 class="float-right" data-aos="fade-right">2021 - 2023</h5>
          <h4 class="mt-2" data-aos="fade-right">
            Universidad Tecnológica de Huejotzingo -
            <span
              >TSU en tecnologías de la información área Desarrollo de Software
              Multiplataforma</span
            >
          </h4>
          <p data-aos="fade-right">
            Aprendí fundamentos sólidos en programación, bases de datos, redes,
            y desarrollo web y móvil.
          </p>
        </li>
        <li>
          <h5 class="float-right" data-aos="fade-right">2023 - 2024</h5>
          <h4 class="mt-2" data-aos="fade-right">
            Universidad Tecnológica de Huejotzingo -
            <span>Ingeniería en Desarrollo y Gestión de Software</span>
          </h4>
          <p data-aos="fade-right">
            Desarrollé conocimientos en metodologías ágiles, arquitectura de
            software y buenas prácticas, fortaleciendo tanto mis habilidades
            técnicas como blandas, como el pensamiento crítico y la resolución
            de problemas.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
