<div class="container-custom">
  <div class="portada">
    <div class="row-portada">
      <div class="content-portada" data-aos="zoom-in-down">
        <h2 class="text-white">Hola, mi nombre es</h2>
        <h1 class="nombre">Alexander Lazcano</h1>
        <p class="typewriter">Desarrollador Fullstack Jr</p>

        <div class="button-portada">
          <a
            class="btn btn-primary d-flex align-items-center justify-content-center"
            href="https://github.com/Alexadr7u7"
            target="_blank"
          >
            <i class="fab fa-github me-2"></i>
            <span>Github</span>
          </a>
          <a
            *ngIf="!descargando"
            class="btn btn-outline d-flex align-items-center justify-content-center"
            (click)="descargarCV()"
          >
            <i class="fas fa-download me-2"></i>
            <span>Descargar CV</span>
          </a>

          <button
            *ngIf="descargando"
            class="btn btn-outline d-flex align-items-center justify-content-center"
            type="button"
            disabled
          >
            <span
              class="spinner-border spinner-border-sm me-2"
              role="status"
              aria-hidden="true"
            ></span>
            Descargando...
          </button>
        </div>
      </div>

      <div class="image-portada d-none d-md-block" data-aos="zoom-in-down">
        <img src="assets/img/bmo.png" alt="BMO" />
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <a class="flecha-abajo" href="#about">
      <i class="fas fa-chevron-down"></i>
    </a>
  </div>
</div>
