<div class="portada container-custom">
  <div class="row-portada">
    <div class="content-portada" data-aos="zoom-in-down">
      <h2 class="text-white">Hola, mi nombre es</h2>
      <h1 class="nombre">Alexander Lazcano</h1>
      <p class="typewriter">Desarrollador Fullstack Jr</p>
      <div class="button-portada">
        <button
          class="btn btn-primary d-flex align-items-center justify-content-center"
        >
          <i class="fab fa-github"></i>
          <span>Github</span>
        </button>

        <button class="btn btn-outline"><span>Descargar CV</span></button>
      </div>
    </div>
    <div class="image-portada" data-aos="zoom-in-down">
      <img src="assets/img/bmo.png" alt="BMO" />
    </div>
  </div>
  <div class="flecha-abajo">
    <i class="fas fa-chevron-down"></i>
  </div>
</div>
